{% extends 'base.html' %}
{% load static %}
{% block content %}
{% if error %}
<div class="mb-3 mt-3 alert alert-danger container">{{ error }}</div>
{% endif %}
<div class="container pt-4">
    <div class="pl-3 pr-3 mx-auto" style="max-width:700px">
        <img src="{% static 'login.png' %}" class="rounded mx-auto d-block mb-3" height=185 width=185 />

    <h3 class="mb-3">Update Profile Details</h3>
    <form class="needs-validation" novalidate method="POST" action="{% url 'change_password' %}" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="mb-2">
        <label for="username">Display Name</label>
        <div class="input-group">
        <input type="text" class="form-control" id="displayName" placeholder="Name to show on blogposts" name="displayName" required>
        <div class="invalid-feedback" style="width: 100%;">
            A display name is required.
        </div>
        </div>
    </div>

    <div class="mb-2">
        <label for="username">Password</label>
        <div class="input-group">
        <input type="password" class="form-control" id="password1" placeholder="Password" name="password1" required>
        <div class="invalid-feedback" style="width: 100%;">
            Password is required.
        </div></div>
        <div class="font-weight-light"><font size="2">
        Your password can’t be too similar to your other personal information. <br />
        Your password must contain at least 8 characters. <br />
        Your password can’t be a commonly used password. <br />
        Your password can’t be entirely numeric. <br /></font>
        </div>
    </div>

    <div class="mb-2">
        <label for="username">Confirm Password</label>
        <div class="input-group">
        <input type="password" class="form-control" id="password2" placeholder="Password" name="password2" required>
        <div class="invalid-feedback" style="width: 100%;">
            Confirmed password is required.
        </div>
        </div>
    </div>

    <div class="mb-3">
        <label for="description">Description</label>
        <div class="input-group">
        <textarea class="form-control" id="description" rows="4" placeholder="I like blogging!" name="description" required></textarea>
        <div class="invalid-feedback" style="width: 100%;">
            A description is required.
        </div>
        </div>
    </div>

    <div class="row mb-3">
    <div class="col-4"><label for="image">Profile Picture</label></div>
    <div class="col-8"><input type="file" class="" id="image" name="image"></div>
    </div>

    <button class="btn btn-primary btn-lg btn-block" type="submit">Update Profile</button>
    </form>
    </div>
</div>
<script src={% static 'form-validation.js'%}></script>
{% endblock %}